

body {
    background-images: images/bg.jpg;
    background-repeat: repeat;
    height: auto;
    margin: 0;
}
  
* {    
    scroll-behavior: smooth;
    font-family: 'Mitr', sans-serif;
    font-weight: 600;
}
header {
    background-color: #6495ED;
    font-size: 3vh;
    height: 130px;
}

header img {
    width: 100px;
}

footer {
    color: #fff;
    background-color: #000000;
    height: 50px;
    text-align: center;
}

.main-page {
    width: 1024px;
    margin: 0 auto;
}

.head {
    padding-top: 10px;
}

.head-name {
    color: #FF69B4
    ;
}

.head-name-1 {
    font-size: 1.75vh;
    color: #fff;
    font-weight: 300;
}

header img {
    color: #ffe000;
    float: left;
    padding: 15px;
}


.graphic{
    background-image: url('images/chantaburi-cover.jpeg');
    height: 320px;
    padding: auto;
}

.top10 {
    background-color: #fff;
    padding: 10px;
}
.img10{
    width: 190px ;
    border-radius: 10px;
}

.top-menu {
    list-style: disc;
    margin: auto;
    display: flex;
    justify-content: left;
}

.top-menu li {
    float: right;
    padding: 10px 40px;
}

.top-menu a {
    text-decoration: none;
    color: #000000;
}

.link10 {
    background-color: white;
    padding: 10px;
}
